[submodule "benchmarks/transformers"]
	path = benchmarks/transformers
	url = https://github.com/huggingface/transformers
[submodule "models/transformers"]
	path = models/transformers
	url = https://github.com/huggingface/transformers
